{{block "index" .}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/assets/js/htmx.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <title>Benjamin Osorio</title>
</head>
<body>
    <script>
        AOS.init();
    </script>
    <div class="bg-[#08090e] w-full">
        {{template "navbar" .}}

        <div class="h-screen flex flex-col md:flex-row items-center justify-center md:p-24 lg:p-32 gap-10" data-aos="fade-down-right" data-aos-delay="100">
            <fieldset class="p-4 inline-block" style="border: 3px solid transparent; border-color: #F38D2D !important; border-radius: 6px;">
                <legend class="p-2">
                    <strong class="text-[#F38D2D] text-3xl md:text-6xl suse-extreme">Benjamin Osorio</strong>
                </legend>
                <div class="flex flex-col">
                    <p class="tracking-wider">
                        <span class="text-white suse-bold text-lg md:text-xl">Analista programador</span>
                        <br>
                        <span class="text-white suse-bold text-lg md:text-xl">Desarrollador de software web y movil</span>
                        <br>
                        <span class="text-white suse-bold text-lg md:text-xl">Soporte tecnico</span>
                    </p>
                    <!-- <button class="text-[#F38D2D] font-bold py-2 px-4 rounded border-2 border-[#F38D2D] w-1/6 tracking-wide mt-6">Contactame</button> -->
                </div>
            </fieldset>
            <div class="h-20 w-20 md:h-80 md:w-80">
                <!-- <img src="./assets/img/bajo.png" alt="">  -->
            </div>
        </div>

        <div class="w-full flex items-center bg-[#12131e] p-6 md:p-20 lg:p-32">
            <div class="bg-[#12131e] flex flex-col gap-10">
                <h1 data-aos="fade-right" data-aos-delay="80" class="relative group text-white suse-extreme text-3xl md:text-6xl hover:underline max-w-max">
                    <a class="relative" href="/acerca-de-mi">
                        Servicios
                    </a>
                    <div class="absolute top-1/2 left-full ml-4 -translate-y-1/2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal text-sm whitespace-nowrap">
                        Saber más
                    </div>
                </h1>

                <div data-aos="fade-right" data-aos-delay="100" class="flex space-x-5">
                    <div class="flex flex-col justify-center">
                        <div class="w-2 h-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>
                    </div>
                    <p class="text-white suse-bold-normal text-xl md:text-2xl">
                        <span>
                            <strong class="suse-bolder text-[#F38D2D]">
                                Desarrollo de software,
                            </strong>
                            principalmente aplicaciones web y móviles.
                        </span>
                    </p>
                </div>

                <div data-aos="fade-right" data-aos-delay="100" class="flex space-x-5">
                    <div class="flex flex-col justify-center">
                        <div class="w-2 h-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>
                    </div>
                    <p class="text-white suse-bold-normal text-xl md:text-2xl">
                        <span>
                            <strong class="suse-bolder text-[#F38D2D]">
                                Soporte técnico: 
                            </strong>
                            arreglo y limpieza de computadores, impresoras, y otros sistemas informáticos.
                        </span>
                    </p>
                </div>

                <!-- <div data-aos="fade-right" data-aos-delay="100" class="flex space-x-5">
                    <div class="flex flex-col justify-center">
                        <div class="w-2 h-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>
                    </div>
                    <p class="text-white suse-bold-normal text-lg md:text-xl">
                        <span>
                            <strong class="suse-bolder text-[#F38D2D]">
                                Mantenimiento de aplicaciones, 
                            </strong>
                            solución a problemas de aplicaciones a la medida.
                        </span>
                    </p>
                </div> -->

                <h1 data-aos="fade-right" data-aos-delay="80" class="relative group text-white suse-extreme text-3xl md:text-6xl hover:underline max-w-max">
                    <a class="relative" href="/acerca-de-mi">
                        Acerca de mi
                    </a>
                    <div class="absolute top-1/2 left-full ml-4 -translate-y-1/2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal text-sm whitespace-nowrap">
                        Saber más
                    </div>
                </h1>

                <div data-aos="fade-right" data-aos-delay="100" class="flex space-x-5">
                    <div class="flex flex-col justify-center">
                        <div class="w-2 h-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>
                    </div>
                    <p class="text-white suse-bold-normal text-lg md:text-xl">
                        <span>
                            Soy desarrollador de software desde hace más de 3 años, principalmente web. He trabajado con diversos lenguajes de programación y herramientas
                            para el desarrollo de aplicaciones más eficiente posible. Entre ellas destaco Go, Angular, NodeJS y AWS. Me gusta mucho la programación en general,
                            es por esa misma razón que me voy motivado a aprender distintas herramientas para poder ser un programador completo, que pueda llegar a realizar
                            cualquier trabajo solicitado.
                        </span>
                    </p>
                </div>

                <div class="flex items-center mt-16" data-aos="fade-right" data-aos-delay="60">
                    <h1 class="relative group text-white suse-extreme text-3xl md:text-6xl hover:underline max-w-max">
                        <a class="relative" href="/acerca-de-habilidades">
                            Mis habilidades
                        </a>
                        <div class="absolute top-1/2 left-full ml-4 -translate-y-1/2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal text-sm whitespace-nowrap">
                            Saber más
                        </div>
                    </h1>
                </div>

                <div class="flex space-x-5" data-aos="fade-right" data-aos-delay="60">
                    <div class="flex flex-col justify-center">
                        <div class="w-2 h-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>
                    </div>
                    <p class="text-white suse-bold-normal text-xl">
                        <span class="text-white suse-bold text-lg md:text-xl">Lenguajes de programacion</span>
                    </p>
                </div>

                <div class="flex flex-wrap justify-between gap-8 md:gap-12">
                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/go.svg" alt="go">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Go
                        </div>
                    </div>

                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/dart.svg" alt="dart">
                        
                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Dart
                        </div>
                    </div>

                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/php.svg" alt="php">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            PHP
                        </div>
                    </div>

                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/java.svg" alt="java">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Java
                        </div>
                    </div>

                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/javascript.svg" alt="javascript">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            JavaScript
                        </div>
                    </div>

                    <!-- <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/c.svg" alt="c">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            C
                        </div>
                    </div> -->

                    <!-- <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/csharp.svg" alt="c#">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            C#
                        </div>
                    </div> -->
                </div>

                <div class="flex space-x-5" data-aos="fade-right" data-aos-delay="60">
                    <div class="flex flex-col justify-center">
                        <div class="w-2 h-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>
                    </div>
                    <p class="text-white suse-bold-normal text-xl">
                        <span class="text-white suse-bold text-lg md:text-xl">Frameworks y herramientas</span>
                    </p>
                </div>

                <div class="flex flex-wrap content-start justify-between gap-8 md:gap-12">
                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/angular.svg" alt="angular">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Angular
                        </div>
                    </div>
                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover h-20 w-20 md:h-40 md:w-40" src="./assets/img/logos/flutter.svg" alt="flutter">
                        
                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Flutter
                        </div>
                    </div>
                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/spring.svg" alt="spring">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Spring
                        </div>
                    </div>
                    
                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/node.svg" alt="node">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            NodeJS
                        </div>
                    </div>

                    <!-- <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/ionic.svg" alt="ionic">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Ionic
                        </div>
                    </div> -->

                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex justify-between items-center bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/logos/vue.svg" alt="vue">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Vue
                        </div>
                    </div>

                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-center" src="./assets/img/logos/git.svg" alt="git">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Git
                        </div>
                    </div>

                    <!-- <div data-aos="fade-right" data-aos-delay="100" class="relative group flex bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-center" src="./assets/img/logos/laravel.svg" alt="laravel">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal z-50">
                            Laravel
                        </div>
                    </div> -->

                    <div data-aos="fade-right" data-aos-delay="100" class="relative group flex bg-[#1b1d2e] hover:shadow-2xl h-24 w-24 md:h-48 md:w-48 text-white p-4 rounded-lg hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-center" src="./assets/img/logos/aws.svg" alt="aws">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal z-50">
                            AWS
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="bg-[#08090e] p-6 md:p-20 lg:p-32">
            <div class="flex flex-col gap-20">
                <h1 class="relative group text-white suse-extreme text-3xl md:text-6xl hover:underline max-w-max" data-aos="fade-right" data-aos-delay="100">
                    <a class="relative" href="/acerca-de-experiencia">
                        Experiencia laboral
                    </a>
                    <div class="absolute top-1/2 left-full ml-4 -translate-y-1/2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal text-sm whitespace-nowrap">
                        Saber más
                    </div>
                </h1>
                <div class="flex gap-6 md:gap-10 md:px-10" data-aos="fade-right" data-aos-delay="100">
                    <div class="flex flex-col">
                        <h4 class="text-white suse-extreme text-xl mt-0 pt-0">
                            2025
                        </h4>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col h-full justify-center items-center gap-4 pt-2">
                            <div class="w-1 bg-[#F38D2D] h-full mb-2 rounded"></div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <h4 class="text-white suse-extreme text-2xl mt-0 pt-0">Freelance</h4>
                            <p class="text-white suse-normal">
                                Desarrollo de aplicaciones web (landing page, e-commerce) y móviles. 
                            </p>
                        </div>   
                    </div>
                </div>

                <div class="flex gap-6 md:gap-10 md:px-10" data-aos="fade-right" data-aos-delay="100">
                    <div class="flex flex-col">
                        <h4 class="text-white suse-extreme text-xl mt-0 pt-0">
                            2024
                        </h4>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col h-full justify-center items-center gap-4 pt-2">
                            <div class="w-1 bg-[#F38D2D] h-full mb-2 rounded"></div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <h4 class="text-white suse-extreme text-2xl mt-0 pt-0">NexiA</h4>
                            <p class="text-white suse-normal">
                                Encargado de desarrollo de aplicaciones web y moviles, modelo de datos, testing y 
                                despliegue mediante AWS.
                            </p>
                        </div>   
                    </div>
                </div>

                <div class="flex gap-6 md:gap-10 md:px-10" data-aos="fade-right" data-aos-delay="100">
                    <div class="flex flex-col">
                        <h4 class="text-white suse-extreme text-xl mt-0 pt-0">
                            2023
                        </h4>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col h-full justify-center items-center gap-4 pt-2">
                            <div class="w-1 bg-[#F38D2D] h-full mb-2 rounded"></div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <h4 class="text-white suse-extreme text-2xl mt-0 pt-0">Hospital de Provincial de Ovalle</h4>
                            <p class="text-white suse-normal">
                                Encargado de pasos a produccion e integraciones.
                            </p>
                        </div>   
                    </div>
                </div>

                <div class="flex gap-6 md:gap-10 md:px-10" data-aos="fade-right" data-aos-delay="100">
                    <div class="flex flex-col">
                        <h4 class="text-white suse-extreme text-xl mt-0 pt-0">
                            2022
                        </h4>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col h-full justify-center items-center gap-4 pt-2">
                            <div class="w-1 bg-[#F38D2D] h-full mb-2 rounded"></div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <h4 class="text-white suse-extreme text-2xl mt-0 pt-0">Hospital de Provincial de Ovalle</h4>
                            <p class="text-white suse-normal">
                                Desarrollo de soluciones de software para las distintas areas del hospital. Esto comprendia el
                                desarrollo de aplicaciones web, desde el front hasta el backend y el modelo de datos.
                            </p>
                        </div>   
                    </div>
                </div>

                <div class="flex gap-6 md:gap-10 md:px-10" data-aos="fade-right" data-aos-delay="100">
                    <div class="flex flex-col">
                        <h4 class="text-white suse-extreme text-xl mt-0 pt-0">
                            2021
                        </h4>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col h-full justify-center items-center gap-4 pt-2">
                            <div class="w-1 bg-[#F38D2D] h-full mb-2 rounded"></div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <h4 class="text-white suse-extreme text-2xl mt-0 pt-0">Hospital de Provincial de Ovalle</h4>
                            <p class="text-white suse-normal">
                                Desarrollo de soluciones de software para las distintas areas del hospital. Esto comprendia el
                                desarrollo de aplicaciones web, desde el front hasta el backend y el modelo de datos.
                            </p>
                        </div>   
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-[#12131e] p-6 md:p-20 lg:p-32">
            <div class="flex flex-col gap-12 md:gap-20">
                <h1 class="text-white suse-extreme text-3xl md:text-6xl hover:underline" data-aos="fade-right" data-aos-delay="80">
                    <a href="#">
                        Contactame
                    </a>
                </h1>
                <div class="w-full flex flex-col justify-center  items-center xl:flex-row gap-4 md:gap-8">
                    <div class="flex items-center gap-4 bg-[#1b1d2e] rounded-lg p-4 md:p-6 shadow-xl">
                        <img class="h-5 md:h-10" src="./assets/img/icons/wsp.svg" alt="wsp">
                        <h4 class="text-white suse-bold text-lg md:text-xl mt-0 pt-0">
                            +569 4158 0087
                        </h4>
                    </div>

                    <div class="h-2 w-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>
                    
                    <div class="flex items-center gap-4 bg-[#1b1d2e] rounded-lg p-4 md:p-6 shadow-xl">
                        <img class="h-5 md:h-10" src="./assets/img/icons/mail.png" alt="mail">
                        <h4 class="text-white suse-bold text-lg md:text-xl mt-0 pt-0">
                            benjaminosoriovergara@gmail.com
                        </h4>
                    </div>

                    <div class="h-2 w-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>
                    
                    <div class="flex items-center gap-4 bg-[#1b1d2e] rounded-lg p-4 md:p-6 shadow-xl">
                        <img class="h-5 md:h-10" src="./assets/img/icons/location.png" alt="location">
                        <h4 class="text-white suse-bold text-lg md:text-xl mt-0 pt-0">
                            Ovalle, Coquimbo, Chile
                        </h4>
                    </div>

                    <div class="md:hidden h-2 w-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>

                    <a href="https://www.linkedin.com/in/benjam%C3%ADn-osorio-vergara-a30773200/" target="_blank">
                        <div class="flex md:hidden items-center gap-4 bg-[#1b1d2e] rounded-lg p-4 md:p-6 shadow-xl">
                            <img class="h-5 md:h-10" src="./assets/img/icons/linkedin.png" alt="location">
                                <h4 class="text-white suse-bold text-lg md:text-xl mt-0 pt-0 underline">
                                    LinkedIn
                                </h4>
                        </div>
                    </a>

                    <div class="md:hidden h-2 w-2 md:w-4 bg-[#F38D2D] md:h-4 rounded-full"></div>

                    <a href="https://github.com/froggos/" target="_blank">
                        <div class="flex md:hidden items-center gap-4 bg-[#1b1d2e] rounded-lg p-4 md:p-6 shadow-xl">
                            <img class="h-5 md:h-10" src="./assets/img/icons/github.png" alt="location">
                                <h4 class="text-white suse-bold text-lg md:text-xl mt-0 pt-0 underline">
                                    GitHub
                                </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="hidden md:flex fixed bottom-4 right-4 flex-col items-center justify-center space-y-2 bg-transparent">
            <div class="w-1 bg-[#F38D2D] h-40 mb-2 rounded-xl"></div>
            <div class="flex flex-col space-y-2 items-center">
                <a href="https://www.linkedin.com/in/benjam%C3%ADn-osorio-vergara-a30773200/" target="_blank" class="text-white font-bold py-2 px-4 rounded suse-bold">
                    <img class="object-center h-14 w-14" src="./assets/img/icons/linkedin.png" alt="linkedinicon">
                </a>
                <a href="https://github.com/froggos" target="_blank" class="text-white font-bold py-2 px-4 rounded suse-bold">
                    <img class="object-center h-11 w-11" src="./assets/img/icons/github.png" alt="githubicon">
                </a>
            </div>
        </div>
    </div>
</body>
</html>
{{ end }}