{{block "index" .}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <title>Benjamin Osorio</title>
</head>
<body>
    <div class="bg-[#08090e] h-full w-full">
        <nav class="bg-[#08090e] border-gray-200 dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <span class="self-center text-white text-2xl font-bold whitespace-nowrap suse">LOGO</span>
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Abrir</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                        <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                            <a href="#" class="block px-2 px-3 text-white rounded md:bg-transparent md:text-white md:p-0 dark:text-white md:dark:text-blue-500 suse-bold">Inicio</a>
                        </li>
                        <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                            <a href="#" class="block py-2 px-3 text-white md:border-0  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent suse-bold">Acerca de</a>
                        </li>
                        <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                            <a href="#" class="block py-2 px-3 text-white md:hover:bg-transparent md:border-0  md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent suse-bold">Servicios</a>
                        </li>
                        <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                            <a href="#" class="block py-2 px-3 text-white md:hover:bg-transparent md:border-0 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent suse-bold">Contacto</a>
                        </li>
                    </ul>
                </div>
                <div class=""></div>
            </div>
        </nav>
        <div class="w-full h-5/6 flex items-center" style="padding-left: 12rem; padding-right: 12rem;">
            <fieldset class="p-4 inline-block" style="border: 3px solid transparent; border-color: #F38D2D !important; border-radius: 6px;">
                <legend class="p-2">
                    <strong class="text-[#F38D2D] text-6xl suse-extreme">Benjamin Osorio</strong>
                </legend>
                <div class="flex flex-col">
                    <p class="tracking-wider">
                        <span class="text-white suse-bold text-xl">Analista programador</span>
                        <br>
                        <span class="text-white suse-bold text-xl">Desarrollador de software web y movil</span>
                        <br>
                        <span class="text-white suse-bold text-xl">Soporte tecnico</span>
                    </p>
                    <!-- <button class="text-[#F38D2D] font-bold py-2 px-4 rounded border-2 border-[#F38D2D] w-1/6 tracking-wide mt-6">Contactame</button> -->
                </div>
            </fieldset>
        </div>
        <div class="flex items-center bg-[#12131e] h-full" style="padding-left: 12rem; padding-right: 12rem;">
            <div class="h-full flex flex-col pt-2 gap-8" style="padding-top: 6rem;">
                <h1 class="text-white suse-extreme text-6xl">
                    Acerca de mi
                </h1>
                <div class="flex space-x-3">
                    <div class="flex flex-col justify-center">
                        <div class="w-16 bg-[#F38D2D] h-1"></div>
                    </div>
                    <p class="text-white suse-bold-normal text-xl">
                        <span>
                            Llevo más de 3 años en el desarrollo de software, enfocado en el desarrollo web. Utilizo diversas tecnologías para ello. Destaco Angular, Laravel, NodeJS, Go, SpringBoot y .Net. Además, tengo experiencia en el desarrollo móvil, utilizando tecnologías como Flutter o Ionic para el desarrollo de aplicaciones. Me manejo en bases de datos relacionales y no relacionales.
                        </span>
                    </p>
                </div>
                <div class="flex items-center">
                    <span class="text-white suse-extreme mt-20 text-6xl">Mis habilidades</span>
                </div>
                <div class="flex space-x-3">
                    <div class="flex flex-col justify-center">
                        <div class="w-10 bg-[#F38D2D] h-1"></div>
                    </div>
                    <p class="text-white suse-bold-normal text-xl">
                        <span class="text-white suse-bold text-2xl">Lenguajes de programacion</span>
                    </p>
                </div>
                <div class="flex flex-wrap gap-6">
                    <div class="relative group flex justify-between items-center bg-[#1b1d2e] h-48 w-48 text-white p-4 rounded hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/go.svg" alt="go">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Go
                        </div>
                    </div>
                    <div class="relative group flex justify-between items-center bg-[#1b1d2e] h-48 w-48 text-white p-4 rounded hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/dart.svg" alt="dart">
                        
                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Dart
                        </div>
                    </div>
                    <div class="relative group flex justify-between items-center bg-[#1b1d2e] h-48 w-48 text-white p-4 rounded hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/php.png" alt="php">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            PHP
                        </div>
                    </div>
                    <div class="relative group flex justify-between items-center bg-[#1b1d2e] h-48 w-48 text-white p-4 rounded hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/java.svg" alt="java">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            Java
                        </div>
                    </div>
                    <div class="relative group flex justify-between items-center bg-[#1b1d2e] h-48 w-48 text-white p-4 rounded hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/javascript.svg" alt="javascript">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            JavaScript
                        </div>
                    </div>
                    <div class="relative group flex justify-between items-center bg-[#1b1d2e] h-48 w-48 text-white p-4 rounded hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/c.svg" alt="c">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            C
                        </div>
                    </div>
                    <div class="relative group flex justify-between items-center bg-[#1b1d2e] h-48 w-48 text-white p-4 rounded hover:bg-[#08090e] ease-in-out duration-300 cursor-pointer">
                        <img class="object-cover" src="./assets/img/csharp.svg" alt="c#">

                        <div class="absolute top-full left-1/2 -translate-x-1/2 mt-2 rounded p-2 bg-[#08090e] hidden group-hover:flex suse-bold-normal">
                            C#
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fixed bottom-4 right-4 flex flex-col items-center justify-center space-y-2 bg-transparent">
        <div class="w-1 bg-[#F38D2D] h-40 mb-2 rounded-xl"></div>
        <div class="flex flex-col space-y-2">
            <button class="text-white font-bold py-2 px-4 rounded suse-bold">LinkedIn</button>
            <button class="text-white font-bold py-2 px-4 rounded suse-bold">Correo</button>
            <button class="text-white font-bold py-2 px-4 rounded suse-bold">Telefono</button>
        </div>
    </div>
</body>
</html>
{{ end }}