{{define "navbar"}}
<nav class="flex flex-col bg-[#08090e] w-full">
    <div class="flex justify-between px-6 py-4">
        <div class="h-16 rounded">
            <img class="object-cover h-16 rounded" src="./assets/img/logos/logo.svg">
        </div>

        <button id="menu" class="md:hidden text-white focus:outline-none">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>

        <div id="navbar-default" class="hidden md:block">
            <ul class="font-medium flex p-4">
                <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                    <a href="/" class="block text-white suse-bold">Inicio</a>
                </li>
                <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                    <a href="acerca-de" class="block text-white suse-bold">Acerca de</a>
                </li>
                <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                    <a href="#" class="block text-white suse-bold">Proyectos</a>
                </li>
                <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                    <a href="#" class="block text-white suse-bold">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="hidden md:block"></div>

    </div>
    <div id="mobile-menu" class="hidden md:hidden">
        <ul class="flex flex-col p-4 bg-[#08090e]">
            <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                <a href="/" class="block text-white suse-bold">Inicio</a>
            </li>
            <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                <a href="acerca-de" class="block text-white suse-bold">Acerca de</a>
            </li>
            <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                <a href="#" class="block text-white suse-bold">Proyectos</a>
            </li>
            <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                <a href="#" class="block text-white suse-bold">Contacto</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    const menu = document.getElementById('menu');
    const mobileMenu = document.getElementById('mobile-menu');

    menu.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>
{{end}}