{{define "navbar"}}
<nav class="bg-[#08090e] w-full">
    <div class="flex items-center justify-between mx-auto p-4">
        <div class="h-16 rounded">
            <img class="object-cover h-16 rounded" src="./assets/img/logos/logo.svg">
        </div>
        <div id="navbar-default">
            <ul class="font-medium flex p-4">
                <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                    <a href="/" class="block text-white suse-bold">Inicio</a>
                </li>
                <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                    <a href="acerca-de" class="block text-white suse-bold">Acerca de</a>
                </li>
                <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                    <a href="#" class="block text-white suse-bold">Proyectos</a>
                </li>
                <li class="hover:bg-[#12131e] py-1 px-3 rounded">
                    <a href="#" class="block text-white suse-bold">Contacto</a>
                </li>
            </ul>
        </div>
        <div class=""></div>
    </div>
</nav>
{{end}}